DB_NAME = dbname
USER_NAME = username
PASSWORD = password
PROJECT_NAME = projectName
MONGODB_URL = mongodb+srv://${USER_NAME}:${PASSWORD}@${PROJECT_NAME}.pxasein.mongodb.net/${DB_NAME}

# for mac:
# MONGODB_URL = mongodb+srv://${USER_NAME}:${PASSWORD}@${PROJECT_NAME}.pxasein.mongodb.net/${DB_NAME}

# for windows:
# MONGODB_URL=mongodb://${USER_NAME}:${PASSWORD}@ac-xxxxx.mongodb.net:27017,ac-yyyyy.mongodb.net:27017/?ssl=true&authSource=admin&replicaSet=atlas-xxx